<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

  <!-- Servlets -->
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>
      com.cs739.app.servlet.replicant.IndexServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BasicFileUploadServlet</servlet-name>
    <servlet-class>
      com.cs739.app.servlet.replicant.BasicFileUploadServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrepareServlet</servlet-name>
    <servlet-class>
      com.cs739.app.servlet.replicant.PrepareServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>
      com.cs739.app.servlet.replicant.ImageServlet
    </servlet-class>
  </servlet>

  <!-- Servlet Mappings -->
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/pb/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BasicFileUploadServlet</servlet-name>
    <url-pattern>/pb/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrepareServlet</servlet-name>
    <url-pattern>/pb/prepare</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/pb/image</url-pattern>
  </servlet-mapping>
    
  <!-- LISTNERZ -->
  <listener>
    <listener-class>com.cs739.app.servlet.replicant.IndexServlet</listener-class>
  </listener>
    
  <!-- Filters -->
  <filter>
    <filter-name>PlopboxReplicantFilter</filter-name>
    <filter-class>
      com.cs739.app.filter.PlopboxReplicantFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PlopboxReplicantFilter</filter-name>
    <url-pattern>/pb/*</url-pattern>
  </filter-mapping>
    
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
</web-app>